.custom-bg-color{
    background-color: #6cc3d5;
}

.custom-nav-color{
    background-color: #6cc3d5;
}

@media(min-width: 0) and (max-width: 425px){
    .custom-nav-color{
        background-color: #5fadbd;
    } 
}

.custom-color{
    color: black;
}

.btn{
    margin-left: 0.3vw;
    padding: 0.2rem 0.2rem;
}

.custom-text-start{
    text-align: start !important;
}

@media (min-width: 768px){
    .custom-justify-text{
        text-align: justify;
        text-justify: inter-word;
    }
}

.custom-image-color{
    filter: brightness(0%);
}

.icon-margin{
    margin-left: 1vw;
}

.column-1-color{
    background-color: #6cc3d5;
}

.column-2-color{
    background-color: #A2CDD6;
}

@media(min-width: 1600px){
    .tecnology-session{
        margin-left: 5rem !important;
        margin-right: 5rem !important;
    }
}

@media(min-width: 0) and (max-width: 768px){
    .custom-image-margin{
        margin-top: 3.8rem !important;
    }
}

.custom-dropdown-menu-width{
    min-width: 100%;
}

@media(min-width: 0) and (max-width: 425px){
    .custom-button-menu-width{
        min-width: 99%;
    }
}

.custom-card-header-text{
    margin-bottom: 0 !important; 
}

.custom-contact-section-btn {
    color: #fff;
    background-color: #6cc3d5;
    border-color: #6cc3d5;
  }
  
.custom-contact-section-btn:hover {
    color: #fff;
    background-color: #61afbe;
    border-color: #61afbe;
}

.custom-card-body-padding{
    padding-top: 10%;
    padding-bottom: 10%;
}

@media(min-width: 0) and (max-width: 320px){
    .custom-text-size-curriculum-section{
        font-size: small;
    }
}


.custom-portfolio-column-margin{
    margin-top: 4rem !important;
}

.custom-portfolio-card:hover{
    background-color: #e99195;
}

.custom-portfolio-card-2:hover{
    background-color: #e48d92;
}

.toast-success {
    background-color: #6CC3D5;
}

@media(min-width: 0) and (max-width: 760px){
    .collapse:not(.show) {
        display: none;
    }
}

/* Home */
.custom-quote-margin{
    padding-top: 6rem;
    margin-bottom: 4rem;
}

.custom-first-letter::first-letter{
    color: #F8D210;
}

.custom-title-color{
    color: #ffffff !important;
    font-weight: 500;
}

/* Portfolio */
@media(min-width: 0) and (max-width: 760px){
    .custom-btn-size{
        width: 100%;
    }
}

@media(min-width: 761px){
    .custom-btn-size{
        width: 20%; 
    }
}

/* Icons */
.custom-spring-icon-color{
    filter: invert();
}

.custom-text-color{
    color: black !important;
    border-color: #F3969A !important;
}