.custom-bg-color{
    background-color: #6cc3d5;
}

.custom-nav-color{
    background-color: #6cc3d5;
}

@media(min-width: 0) and (max-width: 425px){
    .custom-nav-color{
        background-color: #5fadbd;
    } 
}

.custom-color{
    color: black;
}

.btn{
    margin-left: 0.3vw;
    padding: 0.2rem 0.2rem;
}

.custom-text-start{
    text-align: start !important;
}

@media (min-width: 768px){
    .custom-justify-text{
        text-align: justify;
        text-justify: inter-word;
    }
}

.custom-image-color{
    filter: brightness(0);
}

.icon-margin{
    margin-left: 1vw;
}

.column-1-color{
    background-color: #6cc3d5;
}

.column-2-color{
    background-color: #A2CDD6;
}

@media(min-width: 1600px){
    .tecnology-session{
        margin-left: 16rem !important;
        margin-right: 16rem !important;
    }
}

@media(min-width: 0) and (max-width: 768px){
    .custom-image-margin{
        margin-top: 3.8rem !important;
    }
}

.custom-dropdown-menu-width{
    min-width: 100%;
}

@media(min-width: 0) and (max-width: 425px){
    .custom-button-menu-width{
        min-width: 99%;
    }
}